.recipe-header {
  display: flex;
}

.recipe-header .title {
  font-weight: 900;
  font-size: 28px;
}

.recipe-header .modal-close-button {
  margin-left: auto;
}

.modal-close-button button {
  background-color: var(--modal-close-button-bg);
  color: var(--modal-close-button-text);
  font-size: 24px;
  font-weight: bold;
  border-radius: 30%;
  border-style: none;
}

.modal-close-button button:hover,
.modal-close-button button:focus {
  background-color: var(--modal-close-button-hover-bg);
}
