.list .title-section {
  display: flex;
  background-color: var(--title-bg);
  margin: 8px;
}

.list .title-section .toggle-button {
  margin-left: auto;
}

.list .title-section .title {
  font-weight: 900;
  font-size: 20px;
  padding: 4px;
  color: var(--title-text);
}

.list .filters {
  background-color: var(--filters-bg);
  color: var(--filters-text);
  font-weight: 300;
  font-size: 12px;
  margin: 8px;
}

.list .filters .description {
  font-weight: 700;
  padding: 4px;
}

.list .filters .name {
  padding: 4px;
}

.list .filters .input {
  margin: 4px;
  width: 100px;
  border-radius: 3px;
  font-family: inherit;
}

.list .filters .input.ingredients {
  width: 200px;
}

.list-data {
  margin: 8px;
}

.grid {
  display: grid;
  grid-template-columns: minmax(75%, 1fr) 25%;
}

.headers {
  background-color: var(--list-header-bg);
  color: var(--list-header-text);
  font-weight: 800;
}

.header {
  padding: 4px;
}

.list-row {
  background-color: var(--list-row-bg);
  color: var(--list-row-text);
  padding: 2px 4px;
}
