.filters {
  background-color: var(--filters-bg);
  color: var(--filters-text);
  font-weight: 300;
  font-size: 12px;
  margin: 8px;
}

.filters .description {
  font-weight: 700;
  padding: 4px;
}

.filters .name {
  padding: 4px;
}

.filters .input {
  margin: 4px;
  width: 100px;
  border-radius: 3px;
  font-family: inherit;
}

.filters .ingredients .input {
  width: 200px;
}

.filters .checkbox .input {
  margin: 4px;
  border-radius: 3px;
  font-family: inherit;
	width: 20px;
  height: 20px;
  vertical-align: middle;
}
