@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

@import './components/Filter/Filter.css';

:root {
  --main-font: Poppins;

  --color-0: #fbf5ef;
  --color-1: #fd724e;
  --color-2: #a02f40;
  --color-3: #5f2f45;
  --color-4: #382d43;
  --color-5: #261b2e;
  --color-6: #201727;

  --page-bg: var(--color-6);
  --title-bg: var(--color-2);
  --title-text: var(--color-0);
  --filters-bg: var(--color-3);
  --filters-text: var(--color-0);
  --button-bg: var(--color-5);
  --button-text: var(--color-0);
  --button-border: var(--color-4);
  --button-hover-bg: var(--color-3);
  --list-header-bg: var(--color-4);
  --list-header-text: var(--color-0);
  --list-row-bg: var(--color-6);
  --modal-bg: var(--color-0);
  --modal-text: var(--color-5);
  --modal-border: var(--color-4);
  --modal-close-button-bg: var(--color-4);
  --modal-close-button-text: var(--color-0);
  --modal-close-button-hover-bg: var(--color-3);
  --group-name-bg: var(--color-4);
  --group-item-bg: var(--color-6);
  --text: var(--color-0);
  --text-highlight: var(--color-1);
}

body {
  font-family: var(--main-font);
  color: var(--text);
  background-color: var(--page-bg);
}

.buttons {
  display: flex;
  margin-left: auto;
}

.button {
  background-color: var(--button-bg);
  color: var(--button-text);
  font-family: inherit;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--button-border);
}

.button:hover {
  background-color: var(--button-hover-bg);
}

.button {
  margin: 6px;
}

.app {
  max-width: 1064px;
  margin-left: auto;
  margin-right: auto;
}
