.groups .title-section {
  display: flex;
  margin: 8px;
  background-color: red;
}

.groups .title-section .toggle-button {
  margin-left: auto;
}

.groups .data-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: goldenrod;
}

.groups .data-section .group {
  width: 250px;
  background-color: hotpink;
  margin: 8px;
}

.groups .data-section .group .name {
  background-color: hotpink;
  font-weight: 600;
  padding: 2px 4px;
  background-color: green;
}

.groups .data-section .group .item {
  padding: 2px 4px;
  background-color: purple;
}
